header {
    background-color: $grey;
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    li {
        margin: 5px;
        padding: 10px 20px;
    }
}